[submodule "deps/verus"]
	path = deps/verus
	url = https://github.com/verus-lang/verus.git
	branch = main
[submodule "deps/libcrux"]
	path = deps/libcrux
	url = https://github.com/zhengyao-lin/libcrux.git
	branch = main
